<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주차장</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link rel = "stylesheet" href={{url_for('static', filename='style.css')}}>
</head>
<body>
    <header>
        <h1>
            <a href="./index.html">HOME</a> 
        </h1>
        <nav>
            <li><a href="./info.html">INFORMATION</a></li>
            <li><a href="./cam1.html">CAMERA</a></li>
        </nav>
    </header>

    <div class="wrap">
        <h1 class="logo"> CAMERA </h1>
        <div class="main">
            <script>
                function errorFunction(){
                    alert('Stream stopped');
                }
            </script>
            <div class="video-inner">
                <iframe width="740" height="455" src="http://192.168.219.106:8080/stream" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            ​</div>
        </div>
        <div id="btn_group">
            <button id="btn1" onclick="location.href='index.html'"> HOME </button>
        </div>
    </div>
</body>
</html>

<!--
                <div class="video-inner">
                <iframe width=740 height=455 frameborder="0" allowfullscreen title="CCTV" src="http://192.168.137.63:8080/stream"></iframe>
            </div>
-->
