<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주차장</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link rel = "stylesheet" href={{url_for('static', filename='style.css')}}>
</head>
<body>
    <header>
        <h1>
            <a href="./index.html">HOME</a> 
        </h1>
        <nav>
            <li><a href="./info.html">INFORMATION</a></li>
            <li><a href="./cam1.html">CAMERA</a></li>
        </nav>
    </header>

    <div class="wrap">
        <h1 class="logo"> IoT Project</h1>
        <div class="main">
            test page.
        </div>
    </div>
</body>
</html>

